[submodule "godot-cpp"]
	path = godot-cpp
	url = https://github.com/godotengine/godot-cpp.git
[submodule "flecs"]
	path = flecs
	url = https://github.com/SanderMertens/flecs.git
[submodule "clay"]
	path = clay
	url = https://github.com/nicbarker/clay.git
